<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

    <h2 class="f2 b lh-title mb3">Tenemos ELA en redes sociales</h2>

		<div class="flex-l mhn2-l">
			<div class="w-50-l ph2-l">
        <a class="twitter-timeline" data-lang="es" data-height="800" href="https://twitter.com/TenemoselaUy?ref_src=twsrc%5Etfw">Tweets de TenemoselaUy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
			<div class="w-50-l ph2-l">
				<img src="img/home-about-section.jpg" alt="" class="mb3">
			</div>
		</div>
	</div>
</div>
