<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

    <h2 class="f2 b lh-title mb3">Redes sociales</h2>

		<div class="flex-ns mhn2-ns">
			<div class="w-50-ns ph2-ns">
        <!-- Bloque twitter -->
        <a class="twitter-timeline" data-lang="es" data-height="800" href="https://twitter.com/TenemoselaUy?ref_src=twsrc%5Etfw">Tweets de TenemoselaUy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
			<div class="w-50-ns ph2-ns">
        <!-- bloque facebook -->
       <div class="fb-page" data-href="https://www.facebook.com/tenemoselauruguay/" data-tabs="timeline, events" data-width="500" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tenemoselauruguay/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tenemoselauruguay/">Tenemos ELA</a></blockquote></div>
      </div>
		</div>
	</div>
</div>
