<div id="carrusel-siema" class="siema w-90 mw8 center" style="visibility: hidden">
  <div><img src="{{ .image1.image }}" alt="{{ .image1.alt }}" /></div>
  <div><img src="{{ .image2.image }}" alt="{{ .image2.alt }}" /></div>
  <div><img src="{{ .image3.image }}" alt="{{ .image3.alt }}" /></div>
<!--  <div><img src="{{ .image4.image }}" alt="{{ .image4.alt }}" /></div>
</div> -->

<!-- script javascript para siema-->
<script src="https://pawelgrzybek.com/siema/assets/siema.min.js"></script>

<script>
const mySiema = new Siema({
  duration: 250,
  loop: true,
  onInit: () => document.getElementById("carrusel-siema").style.visibility = "visible"
});

// listen for keydown event
setInterval(() => mySiema.next(), 5000);

</script>
