<!-- Contact -->
<div class="mb4" id="contacto">
  <h4 class="f3 b lh-title mb3 tc">¿Necesitas más información? <br> Ponte en contacto con nosotros</h4>
  <div class="tc pb2">
 <a href="mailto:contacto@tenemosela.org.uy?Subject=Consulta%20Tenemos%20ELA" target="_top" class="link">contacto@tenemosela.org.uy</a>
  </div>
  <form action="https://formspree.io/contacto@tenemosela.org.uy" method="POST">
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="Nombre" placeholder="Nombre" class="w-100 mb2">
          <label for="name">Nombre</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="_replyto" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="Mensaje" placeholder="Tu mensaje" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Tu mensaje</label>
    </fieldset>
        <!-- para que vuelva a la página de contacto -->
        <input type="hidden" name="_next" value="https://tenemosela.org.uy/gracias" />
        <!-- para agregar un subject -->
        <input type="hidden" name="_subject" value="Mensaje para TenemosELA Uruguay" />
        <!-- Cambio idioma en formspree -->
        <input type="hidden" name="_language" value="es" />
        <!-- para engañar bots -->
        <input type="text" name="_gotcha" style="display:none" />
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Enviar</button>
    </div>
  </form>
</div>
