<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="logo TenemosELA" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscripción</p>
			<p>Reciba nuestras noticias por correo electrónico.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 white">Tenemos ELA</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/quienes-somos" class="link">¿Quiénes somos?</a></li>
					<li><a href="/que-hacemos" class="link">¿Qué hacemos?</a></li>
					<li><a href="/material-apoyo" class="link">Material de apoyo</a></li>
					<li><a href="/post" class="link">Noticias</a></li>
					<li><a href="/contact" class="link">¿Cómo colaborar?</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 white">Más información</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Tienda</a></li>
					<li><a href="/contact" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 white">Redes sociales</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/tenemoselauruguay/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/TenemoselaUy" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/tenemosela.uy/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UC_wwQNAIyljGUk6JaJ5l8Qg" "svg" "icons-youtube") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
