<footer class="bg-primary pv2 white">

	<div class="w-90 mw8 ph3 center pt3">

		<div class="measure-narrow center mb4">

			<!--<img src="/img/logo_foot_red.svg" alt="logo Tenemos ELA" class="db w4 center mb4 br0">-->
			<!-- <p class="f3 lh-title light-gray b tc mb2">Subscripción</p> -->
			<p>Reciba nuestras noticias por correo electrónico.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 white">Tenemos ELA</h3>
				<ul style="list-style-type:none" class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/quienes-somos" class="link">¿Quiénes somos?</a></li>
					<li><a href="/ela" class="link">¿Qué es la ELA?</a></li>
					<li><a href="/que-hacemos" class="link">¿Qué hacemos?</a></li>
					<li><a href="/material-apoyo" class="link">Material de apoyo</a></li>
					<li><a href="/post" class="link">Noticias</a></li>
					<li><a href="/contact" class="link">¿Cómo colaborar?</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 white">Más información</h3>
				<ul style="list-style-type:none" class="mb3">
					<li><a href="/tienda/" class="link">Tienda</a></li>
					<li><a href="/contact#contacto" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 white">Redes sociales</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/tenemoselauruguay/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/TenemoselaUy" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/tenemosela.uy/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UC_wwQNAIyljGUk6JaJ5l8Qg" "svg" "icons-youtube") }}
				</ul>
				<a href="mailto:contacto@tenemosela.org.uy?Subject=Consulta%20Tenemos%20ELA" target="_top" class="link">contacto@tenemosela.org.uy</a>
			</div>

		</div>
	</div>
	<div class="f7 primary">
		<br><br><br>
	<p>Diseño y mantenimiento: Ernesto Miquel <a href="https://twitter.com/ernestomiquel">@ernestomiquel</a></p>

	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
