<div class="pv3 ph3 bg-center cover">
    <div id="cssSlider" >
      <div id="sliderImages">
		      <div class="w-100 center">
            <img id="si_1" class="center mw-100 h-auto" src="{{ .image1.image }}" alt="{{ .image1.alt }}" />
          </div>
		      <img id="si_2" class="center mw-100 h-auto" src="{{ .image2.image }}" alt="{{ .image2.alt }}" />
		      <img id="si_3" class="center mw-100 h-auto" src="{{ .image3.image }}" alt="{{ .image3.alt }}" />
		      <!--<div style="clear:left;">-->
                </div>
      </div>
    </div>
</div>
