<!-- meto esto para poder colapsar el menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w-90 mw8 center">
<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-end bg-white divider-grey relative topnav" id="myTopnav">

	<!-- Logo -->
	<a href="/" class="pa2 db mr2 h-100 w-20-ns w-40 self-start flex-none">
		<img src="/img/logo.svg" alt="logo Tenemos ELA" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul style="list-style-type:none" class="flex-ns justify-between items-center b grey-3 pt0-ns pt5 f7-ns">
		<li><a href="/ela" class="pa2 no-underline db">¿Qué es la ELA?</a></li>

		<li><a href="/quienes-somos" class="pa2 no-underline db">¿Quiénes somos?</a></li>

		<li><a href="/que-hacemos" class="pa2 no-underline db">¿Qué hacemos?</a></li>

		<li><a href="/material-apoyo" class="pa2 no-underline db">Material de apoyo</a></li>

		<li><a href="/post" class="pa2 no-underline db">Noticias</a></li>

		<li><a href="/contact" class="pa2 no-underline db">¿Cómo colaborar?</a></li>
	</ul>
	<!-- meto el menu hamburguesa -->
	<a href="javascript:void(0);" class="icon self-start pr3 pt3 f3 no-underline" onclick="myFunction()">
    <span class="f5 pb2 pr1">Menú   </span><i class="fa fa-bars"></i>
  </a>

</nav>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "overflow-x-scroll overflow-x-visible-ns flex justify-between items-end bg-white divider-grey relative topnav") {
        x.className += " responsive";
    } else {
        x.className = "overflow-x-scroll overflow-x-visible-ns flex justify-between items-end bg-white divider-grey relative topnav";
    }
}
</script>
