<div class="w-90 mw8 ph3 center pv1">
	<div class="measure-wide">
		<h2 class="f2 b lh-title measure-wide mb1">{{.heading}}</h2>
		<p class="mb1 measure-wide">{{.description}}</p>
		<div class="flex flex-wrap justify-center mhn2-ns mb1">
			{{ range .productos }}
				<div class="w-30-ns w-40 ph2 mb1">
					<a href="{{ .link }}"> <img src="{{ .image }}" alt="" class="center db mb1" style="width: auto; height: auto">
					<p style="text-align:center">{{.text}}</p></a>
				</div>
			{{ end }}
				<p ></p>
				<br>
				<br>
			{{ range .productos }}
				<div class="measure-wide">
				<h2 id="{{ .text}}" class="f2 b lh-title measure-wide mb1">{{ .text}}</h2>
				<img src="{{ .foto1_seccion }}">
				<img src="{{ .foto2_seccion }}">
				<img src="{{ .foto3_seccion }}">
				<p class="mb1 measure-wide">{{ .texto_seccion | markdownify}}</p>
				<br><br><br><br>
				</div>
			{{ end }}
		</div>
	</div>
</div>
