<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <p class="f4 b lh-title mb2 primary">¿Qué es la ELA?</p>
    <p></p><p>La Esclerosis Lateral Amiotrófica (E.L.A. o A.L.S.) es una enfermedad neurodegenerativa que afecta las motoneuronas que se encuentran en el cerebro, el tronco encefálico y la médula espinal, las cuales controlan los músculos voluntarios. Cuando se comprometen o fallan estas neuronas, se alteran funciones como el movimiento de las distintas partes del cuerpo, el habla, la deglución, y la respiración.  La enfermedad no altera sensibilidad general ni los sentidos como la visión, la audición, el gusto y el olfato así como tampoco afecta la capacidad intelectual, el funcionamiento sexual y el control de los esfínteres.</p>

<p>El diagnóstico de ELA es básicamente clínico, es decir que se llega a él mediante el interrogatorio y examen físico que hace el médico, el control de la evolución del paciente y escasos exámenes que ayudan a confirmarlo y a descartar otras enfermedades.  No existe al día de hoy, ninguna prueba específica de laboratorio que proporcione el diagnóstico definitivo al inicio de la enfermedad.</p>
<p>Hasta el momento se desconocen sus causas y no existe tratamiento curativo, pero se puede mejorar la calidad de vida de las personas afectadas a través de las terapias y cuidados. Estudios y trabajos de investigación demuestran que ser atendidos de forma precoz por equipos multidisciplinarios mejora de forma significativa los síntomas incapacitantes y la supervivencia.</p>
<p>En Uruguay la cantidad de personas con ELA es similar a la de otras partes del mundo, con una incidencia de 1,42 cada 100.000 habitantes/año, y una prevalencia de 1.92 casos por cada 100.000 habitantes(Vázquez et al, 2008), sin embargo la sobrevida es menor probablemente debido a diferencias en el sistema sanitario (Gil et al, 2009).</p>

<img src="/img/imagenes-pag-cuidados-ela.jpg" alt="cuidados en la ELA" class="center db mb1 mw6 h-auto">
<p class="f6">Bibliografía:<br>
(1)Vázquez MC, Ketzoián C, Legnani C, Rega I, Sánchez N, Perna A, Penela M, Aguirrezábal X, Druet-Cabanac M, Medici M. Incidence and prevalence of amyotrophic lateral sclerosis in Uruguay: a population-based study Neuroepidemiology. 2008;30(2):105-11. doi: 10.1159/000120023. Epub 2008 Mar 11. PMID: 1833482 <br>
(2)Gil J., Vazquez M.C.; Ketzoian C.; Perna A.; Marin B.; Preux P.M.; Couratier P. (2009) “Prognosis of ALS: comparing data from the Limousin referral centre, France, and a Uruguayan population”. Amyotroph Lateral Scler.  10(5-6): pp. 355-360.
</p>
  </div>
</div>
