<div class="bg-off-white pv3">
	<div class="ph3 w-90 mw8 center">
		<div class="flex-ns items-center justify-between mhn2">
			<div class="w-70-ns">
				<p>Tenemos ELA Uruguay es una organización sin fines de lucro compuesta por personas afectadas con Esclerosis Lateral Amiotrófica, familiares y amigos.
			  La misión principal es la de mejorar la calidad de vida tanto del afectado como de su familia y cuidadores.</p>
			</div>
			<div class="tc primary b">
				<p>¡Colabora con nosotros!</p>
				<div class="tc pb2">
					<a href="/contact#donaciones" class="btn raise">Donaciones</a>
				</div>
				<div class="tc">
					<a href="/contact#voluntarios" class="btn raise">Quiero ser voluntario</a>
				</div>
				</a>
			</div>
		</div>
	</div>
</div>
