@font-face {
 font-family: "DinPro";
 src: url("/fuentes/DINPRO-REGULAR.OTF") format("opentype"),
      url("/fuentes/DINPro-Regular.ttf") format("truetype"),
      url("/fuentes/DINPro-Regular.woff2") format("woff2"),
      url("/fuentes/DINPro-Regular.woff") format("woff"),
      url("/fuentes/DINPro-Regular.svg#DINPro-Regular") format("svg");
 font-style: normal;
 font-weight: normal;
}
