:root {
	/* Colors */
	--primary: rgba(204, 0, 51, 1);
	--highlight: rgba(255, 153, 153, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);

	/* Typography */
	--font-family: PT Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.2; /*era 1.5 */

	--font-size: 14px; /*era 18 luego 16 */
	--font-size-m: 16px; /*era 20 luego 18 */
	--font-size-l: 18px; /*era 22 luego 20 */

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem; /*era .25 */
	--spacing-small: .5rem; /*era .5 */
	--spacing-medium: .9rem; /*era 1 */
	--spacing-large: 2rem; /*era 2 */
	--spacing-extra-large: 4rem; /*era 4 */
	--spacing-extra-extra-large: 8rem; /*era 8 */
	--spacing-extra-extra-extra-large: 16rem; /*era 16 */

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
