<a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
	<h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
	<p class="mid-gray lh-title mb2">{{ .Date.Format "02/01/2006" }}</p>
	<p class="mb0">{{ .Description }}</p>
	<p class="link b dib black mb0">Seguir leyendo →</p>
	<img src="{{ .Image }}" alt="" class="center db mb1" style="width: auto; height: auto">
</a>
<!--
Intento poner imagenes en el bloque de noticias
<a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
<h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
<div class="flex-ns items-center justify-between mhn2">
			<div class="w-70-ns">
			<p class="mid-gray lh-title mb2">{{ .Date.Format "02/01/2006" }}</p>
			<p class="mb0">{{ .Description }}</p>
			<p class="link b dib black mb0">Seguir leyendo →</p>
			</div>
			<div class="tc primary b">
			<img src="{{ .image }}" alt="" class="center db mb1" style="width: auto; height: auto">
			</div>
		</div>
		</a>
-->
