{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.info }}
<div class="w-90 mw7 ph3 center">
  <div class="measure-wide mb3">
    <p>{{ .text1 | markdownify }}</p>
    <img src="{{ .imageUrl }}" alt="" class="center db mb1 mw-100 h-auto">
    </br>
    <p class="f7 b">Bibliografía:</p>
    <p class="f7">(1) Vázquez MC, Ketzoián C, Legnani C, Rega I, Sánchez N, Perna A, Penela M, Aguirrezábal X, Druet-Cabanac M, Medici M. Incidence and prevalence of amyotrophic lateral sclerosis in Uruguay: a population-based study Neuroepidemiology. 2008;30(2):105-11. doi: 10.1159⁄000120023. Epub 2008 Mar 11. PMID: 1833482.</p>
    <p class="f7">(2) Gil J., Vazquez M.C.; Ketzoian C.; Perna A.; Marin B.; Preux P.M.; Couratier P. (2009) "Prognosis of ALS: comparing data from the Limousin referral centre, France, and a Uruguayan population". Amyotroph Lateral Scler. 10(5-6): pp. 355-360.</p></br>
  </div>
</div>
{{ end }}
{{ end }}
