{{ define "main" }}

<div class="w-90 mw7 ph3 center">
	<div class="measure-wide pv3">

		{{ .Content }}
		
		<p class="f7 b">Bibliografía:</p>
    <p class="f7">Ley N°18335: Pacientes y Usuarios de los Servicios de Salud. Derechos y Obligaciones, 2008. </p>
    <p class="f7">Ley N°18473: Voluntad Anticipada. República Oriental del Uruguay, 2009.</p>
    <p class="f7">Plan Nacional de Cuidados Paliativos. Ministerio de Salud Pública, 2013. Recuperado de: <a href="http://www.msp.gub.uy/sites/default/files/PLAN%20NACIONAL%20CP%20VERSION%20SETIEMBRE%202013.pdf">http://www.msp.gub.uy/sites/default/files/PLAN%20NACIONAL%20CP%20VERSION%20SETIEMBRE%202013.pdf</a></p>
  </div>
</div>

{{ end }}
