{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<!--<div class="w-90 mw8 ph3 center">
	<div class="measure-wide pv3">-->


{{ with .Params.main }}
<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading1 }}</p>
    <p>{{ .description1 | markdownify }}</p>
  </div>
</div>
{{ end }}

<div class="w-100 mw8 ph3 center">
  <!--<div class="measure-wide mb3">-->
		<div class="h_iframe">
		        <iframe  src="https://tonyredhead.photography/360/TUTORIALS/Marzipano/socialbuttons/index.html" height="600" frameborder="0" allowfullscreen></iframe>
		    </div>
	<!--</div>-->
</div>

<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary"> Sobre el artista:</p>
		<br>
		<p>Conrado Arbiza nació en Montevideo, en agosto del 1954. Comenzó su carrera como dibujante en los años 80, y desde esa época publica tiras de humor en medios de todo el país.</p>
		<p>Es autor de varias obras teatrales, estrenadas en Uruguay y Estados Unidos.</p>
		<p>Fue diagnosticado con Esclerosis Lateral Amiotrófica en el año 2017.</p>
		 
{{ with .Params.main }}
<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading2 }}</p>
    <p>{{ .description2 | markdownify }}</p>
  </div>
</div>
{{ end }}
{{ partial "cuadros-venta" .Params }}



{{ end }}
