{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<!--<div class="w-90 mw8 ph3 center">
	<div class="measure-wide pv3">-->


{{ with .Params.main }}
<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading1 }}</p>
    <p>{{ .description1 | markdownify }}</p>
  </div>
</div>
{{ end }}

<iframe src="https://tonyredhead.photography/360/TUTORIALS/Marzipano/socialbuttons/index.html" height="600" width="600"></iframe>

<!--	</div>
</div>-->

{{ with .Params.main }}
<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading2 }}</p>
    <p>{{ .description2 | markdownify }}</p>
  </div>
</div>
{{ end }}
{{ partial "cuadros-venta" .Params }}



{{ end }}
