{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="w-90 mw8 ph3 center">
	<div class="measure-wide pv3">

<strong>"Huellas", muestra de obras de Conrado Arbiza</strong>
<p>El arte atraviesa a Conrado desde siempre. Es su forma de vida, de ver y percibir el mundo. Y ahora que es un artista con ELA, la escritura, el dibujo y la tomaron nuevos rumbos.</p>
<p>"La ELA es ayudante de mis pinturas, la enfermedad da su aporte en los cuadros, la enfermedad evoluciona para mal pero en los cuadros los transforma en una evolución para bien", dice en uno de sus textos.</p>
<p>Las 51 obras que componen "Huellas" es el testimonio de esa transformación.</p>
<p>Los y las invitamos a disfrutarla </p>


<iframe src="https://tonyredhead.photography/360/TUTORIALS/Marzipano/socialbuttons/index.html" height="600" width="600"></iframe>

	</div>
</div>

{{ with .Params.main }}
<div class="w-100 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading }}</p>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>
{{ end }}
{{ partial "cuadros-venta" .Params }}



{{ end }}
