{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="w-90 mw8 ph3 center">
  <ul class="b primary">
    <li><a href="#celau" class="pv1 no-underline db">Participación en el CELAU</a></li>

    <li><a href="#jornadas-pacientes-cuidadores" class="pv1 no-underline db">Jornadas para pacientes, familia y cuidadores</a></li>

    <li><a href="#actualizacion" class="pv1 no-underline db">Actualización en ELA para médicos y otros profesionales de la salud</a></li>

    <li><a href="#apoyo-familias" class="pv1 no-underline db">Apoyo a las familias en comunicación aumentativa, terapias y cuidados</a></li>

    <li><a href="#ayudas-tecnicas" class="pv1 no-underline db">Ayudas técnicas</a></li>
  </ul>

  <div class="measure-wide mb3">

		<p id="celau" class="f4 b lh-title mb2 primary pt4">Participación en el CELAU</p>
    <img src="/img/logo_celau.jpg" alt="Logo CELAU" class="center db mb1 mw-100 h-auto">
    <p></p><p>La Esclerosis Lateral Amiotrófica (ELA) es una enfermedad neurodegenerativa, crónica, progresiva y compleja, que requiere un abordaje asistencial interdisciplinario e integral. La primer necesidad percibida desde la organización Tenemos ELA Uruguay, fue la atención escasa y fragmentada del sistema de salud actual en Uruguay, la ausencia de este tipo de abordaje y la inexistencia de un centro de referencia para pacientes, familiares y personal sanitario que lo tuviera en cuenta.</p>

<p>A partir de la demanda de asistencia integral percibida y en conjunto con neurólogos del Instituto de Neurología del Hospital de Clínicas, en el año 2014, comenzamos a desarrollar el primer programa interdisciplinario de nivel Nacional, integrando profesionales de diferentes áreas con el fin de promover la asistencia continua desde el diagnóstico contemplando la trayectoria evolutiva con una visión integral, que asegure la calidad, accesibilidad y equidad de los cuidados. El programa comenzó a ejecutarse en el espacio de investigación, docencia y asistencia dirigido a enfermedades neuromusculares en el Hospital Universitario.</p>
<p>En este espacio, recientemente denominado CELAU se brinda asesoramiento e información sobre la enfermedad desde una mirada integral con asistencia calificada y compasión humana. El equipo realiza la evaluación, y sugiere un plan de tratamientos y cuidados personalizados con el objetivo de lograr extender el período de autonomía, prevenir posibles complicaciones, adaptar el proyecto de vida y empoderarse en las toma de decisiones. La implementación del plan deberá contemplar las preferencias y necesidades del usuario y su familia, y articularse fundamentalmente con los profesionales y técnicos del centro de asistencia al que pertenece el afectado.</p>
<p>El proceso asistencial que se pretende a partir de esta articulación, debe incluir el adecuado control sintomático, entrenamiento en métodos alternativos-aumentativos de la comunicación, apoyo psico-social y mantenimiento funcional. Debe monitorearse en forma continua el bienestar emocional de la persona que padece la enfermedad y su familia.</p>
<p>En CELAU se integra la investigación en conjunto con Facultad de Medicina,Departamento de Histología y Embriología, Laboratorio de Neurobiología Celular y Molecular. También se practica la docencia como formación permanente y trabajamos con el objetivo de que el CELAU se configure y reconozca como un centro de referencia a Nivel Nacional.</p>
<img src="/img/imagenes-pag-equipo interdisciplinario.jpg" alt="Equipo interdisciplinario" class="center db mb1 mw-100 h-auto">
</br>
<img src="/img/imagenes-pag-PoliclinicaEquipo2015.jpg" alt="Equipo policlínica" class="center db mb1 mw-100 h-auto">
<p></p>
<a href="http://www.institutodeneurologia.edu.uy/" target="_blank">http://www.institutodeneurologia.edu.uy/</a><br>
<a href="http://www.histoemb.fmed.edu.uy/" target="_blank">http://www.histoemb.fmed.edu.uy/</a><br>
<a href="http://www.hc.edu.uy/" target="_blank">http://www.hc.edu.uy/</a><br>

  </div>
</div>

<div class="w-90 mw8 ph3 center">
  <div class="measure-wide mb3">
		<p id="jornadas-pacientes-cuidadores" class="f4 b lh-title mb2 primary pt4">Jornadas para pacientes, familia y cuidadores</p>
    <p></p><p>Estas jornadas tienen como objetivo educar en los cuidados a los familiares, cuidadores y los mismos pacientes. Se desarrollan con charlas y talleres orientados a abordar los cuidados domésticos y las estrategias familiares para resolver las complejidades cotidianas desde acciones prácticas. Se pretende que las actividades faciliten los quehaceres y que contribuyan a mejorar la calidad de vida del paciente y la familia. Para su implementación contamos con profesionales de la salud integrantes del equipo interdisciplinario del CELAU y eventualmente otros invitados.
    Este plan aborda las siguientes dimensiones:</p>

<p><span class="b i">Fonoaudiología y nutrición</span> abarca los cuidados en la alimentación y la deglución, desde las técnicas, ejercicios, dietas y texturas de los alimentos. Se informa sobre las propiedades nutricionales y la importancia del control de peso e hidratación.</p>
<p><span class="b i">Cuidados Respiratorios en la ELA</span> pretende familiarizar al paciente, la familia y los cuidadores en la importancia de la respiración en la calidad de vida de las personas. Se informa sobre ejercicios para el mantenimiento de los músculos que participan en la ventilación,  técnicas de detección de los síntomas que dan cuenta de la pérdida de capacidad ventilatoria, se aportan herramientas para abordar la tos, la salivación, las secreciones y otros aspectos importantes en la prevención de las infecciones y la obstrucción de las vías respiratorias. Se complementa el abordaje con las técnicas de ventilación asistida, que adquiridas en tiempo y forma contribuyen al bienestar y a la prevención de complicaciones.</p>
<p><span class="b i">Fisioterapia y control del dolor</span> aborda las técnicas, ejercicios y explicaciones teóricas de la importancia del mantenimiento físico inclusive y a pesar del avance progresivo de la inmovilidad. Un buen abordaje técnico y acompañamiento familiar en rutinas de mantenimiento, permite evitar síntomas de anquilosamiento, calcificación o acortamiento de tendones, disminuyendo la posibilidad de aparición de dolor en la ELA.</p>
<p><span class="b i">Comunicación Aumentativa-Alternativa en la ELA</span> pretende abordar las complejidades de comunicación frente a la pérdida del habla. El desarrollo de técnicas de comunicación en las familias es una de las estrategias más complejas e importantes ya que a pesar de las dificultades del habla, no se pierde la capacidad cognitiva, y una buena comunicación es fundamental para una mejor calidad de vida del paciente y la familia.</p>
<p><span class="b i">Resiliencia y Espiritualiedad en la ELA</span> aborda la aceptación de la enfermedad para la familia y el afectado como un paso fundamental para abordar la evolución, las terapias y cuidados ensanchando la vida y mejorando las condiciones de su estadío y las consecuencias psico-sociales que con ella conlleva. Una aceptación temprana y la capacidad de adaptación a los cambios mejora la calidad de vida del afectado y el cuidador principal, así como todo el entorno familiar.</p>
  </div>
</div>

<div class="w-90 mw8 ph3 center">
  <div class="measure-wide mb3">
		<p id="actualizacion" class="f4 b lh-title mb2 primary pt4">Actualización en ELA para médicos y otros profesionales de la salud</p>
    <p></p>
    <p>Concientizar sobre la enfermedad, acompañar los procesos médicos y fomentar los cuidados y tratamientos en la ELA es parte de nuestros principales objetivos para contribuir a mejorar la calidad de vida de los pacientes y la familia.</p>
    <p>Aunque hasta el momento no se ha encontrado un tratamiento curativo para la ELA, no significa que no sea una enfermedad tratable. Su tratamiento requiere un abordaje integral del paciente, familia y cuidadores, por parte de un equipo multidisciplinario formado y capacitado en los distintos aspectos específicos  y complejos de la enfermedad. En este sentido la ELA es una enfermedad que requiere una especialización de 2do o 3er nivel, pero las personas afectadas con ELA siguen requiriendo servicios de primer nivel de atención que deben estar familiarizados con la sintomatología, las particularidades de los tratamientos y los nuevos conocimientos que se generan continuamente.</p>
    <p>Actualizar al cuerpo médico y otros profesionales de la salud es una tarea fundamental para incorporar las técnicas y conocimientos de vanguardia para mejorar la atención en salud y la familiarización en todo el sistema.</p>
    <p>En la organización de este tipo de actividades contamos con los integrantes del equipo interdisciplinario del CELAU como expositores o en la invitación a otros profesionales idóneos según la temática planteada.</p>
  </div>
</div>

<div class="w-90 mw8 ph3 center">
  <div class="measure-wide mb3">
		<p id="apoyo-familias" class="f4 b lh-title mb2 primary pt4">Apoyo a las familias en comunicación aumentativa, terapias y cuidados</p>
    <p></p>
    <p>Brindar apoyo a la población más vulnerable a través de asistencia en terapias, cuidados y comunicación aumentativa.</p>
    <p>Trabajamos para asesorar a las familias para el acceso a las prestaciones sociales del Estado y los servicios de salud de sus centros de asistencia pero cuando estos no encuentran las respuestas necesarias en los tiempos que requiere la dinámica de la enfermedad, disponemos de algunos servicios de sostén que les faciliten y mejoren las condiciones de vida. Articulamos con las oficinas territoriales del Mides, con las organizaciones barriales para apoyo familiar, policlínicas para asistencia al cuidador, las escuelas para apoyo a los hijos, etc.</p>
    <p>En muchos casos trabajamos la comunicación aumentativa, fonoaudiología y apoyo psicológico como los principales servicios de asistencia. En los que se requiere apoyamos con soporte ventilatorio u otras ayudas técnicas necesarias.</p>
  </div>
</div>

<div class="w-90 mw8 ph3 center">
  <div class="measure-wide mb3">
		<p id="ayudas-tecnicas" class="f4 b lh-title mb2 primary pt4">Ayudas técnicas</p>
    <p></p>
    <p>Contamos con un banco de ayudas técnicas que están a disposición para las personas afectadas con ELA.</p>
    <p>Por consultas escríbenos: <a href="mailto:tenemosela.uy@gmail.com" target="_blank">tenemosela.uy@gmail.com</a><br></p>
  </div>
</div>

{{ end }}
