{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
<!-- que pasa si saco esto
{{ partial "4-up" .Params.intro }}
-->

{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- saco la Image grid
{{ partial "image-grid" . }}-->
{{ end }}

<!-- saco los testimonials
<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>
-->
<!-- Full-width image
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}
-->
<p class="f4 b lh-title mb2 primary">Presidente honorario</p>
{{ partial "2-up" .Params }}

<p class="f4 b lh-title mb2 primary">Presidente honorario yeah</p>
{{ partial "integrantes-presidente" .Params }}

<p class="f4 b lh-title mb2 primary">Consejo administrativo</p>
{{ partial "4-up" .Params }}

{{ end }}
