{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <p class="f4 b lh-title mb2 primary">{{ .heading }}</p>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>

<div class="mw7 ph3 center">
  <p class="f4 b lh-title mb2 primary">Presidente honorario</p>
</div>
{{ partial "integrantes-presidente" .Params }}

<div class="mw7 ph3 center">
  <p class="f4 b lh-title mb2 primary">Consejo administrativo</p>
</div>
{{ partial "integrantes-consejo" .Params }}

<div class="mw7 ph3 center">
  <p class="f4 b lh-title mb2 primary">Familia de TenemosELA Uruguay</p>
</div>
{{ partial "integrantes-familia" .Params }}

<div class="mw7 ph3 center">
  <p class="f4 b lh-title mb2 primary">Colaboradores incondicionales</p>
</div>
{{ partial "integrantes-colaboradores" .Params }}

{{ partial "que-es-la-ela" .Params }}
{{ end }}
