{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}
<div class="w-90 mw8 ph3 center">
  <div class="measure-wide mb3">
    <p class="f4 b lh-title measure-wide mb2 primary">{{ .heading }}</p>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>
{{ end }}

<div class="w-90 mw8 ph3 center">
  <p class="f4 b lh-title measure-wide mb2 primary">Productos para comprar y colaborar</p>
</div>
{{ partial "productos" .Params }}

{{ end }}
