{{ define "main" }}

{{ partial "carousel" .Params }}

<!--{{ partial "short-text" .Params.blurb}}-->

{{ partial "texto-arriba" . }}

<!--{{ partial "texto-abajo" . }}}}-->

<!--{{ partial "2-up-otro" .Params }}-->

<!--{{ partial "text-and-image" (dict "heading" .Params.values.heading "image" .Params.values.image "text" .Params.values.text "buttonText" "Más información" "buttonLink" "/quienes-somos") }}
-->

{{ partial "aviso-muestra-cuadros-2" }}
{{ partial "blog" . }}

<!--{{ partial "bloque-twitter" . }}-->

{{ end }}
