{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "bloque-twitter" . }}

{{ partial "imageslider" (dict "image1" .Params.slider.image1 "image" .Params.slider.image1 "alt"  "/slider") }}

{{ end }}
