{{ define "main" }}

{{ partial "carousel" .Params.slider }}
<!-- {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }} -->

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up-otro" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "image" .Params.values.image "text" .Params.values.text "buttonText" "Más información" "buttonLink" "/quienes-somos") }}

{{ partial "blog" . }}

{{ partial "bloque-twitter" . }}

<!--{{ partial "imageslider" .Params.slider }}-->

{{ end }}
